/*GLOBAL SETTINGS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500&display=swap");
/*Color de fuentes*/
/*Fuentes*/
/*Backgorund Color*/
/*NAVBAR*/
.nav-link:hover {
  color: white !important;
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.navbar-brand img:hover {
  scale: 1.1;
  transition: all 0.2s ease;
}

/*THE ANIMVIEWPOINT*/
.card:hover {
  scale: 1.02;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 0.7);
}

a:hover {
  color: rgb(40, 40, 40);
}

/*FOOTER*/
.footerHover:hover {
  color: rgb(255, 255, 255);
  scale: 1.05;
  transition: transform 0.3s ease;
  animation: jump 0.5s infinite alternate;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
* {
  text-decoration: none;
}

body {
  background-color: #0f1014;
}

/*NAVBAR*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #081420;
}

.nav-link {
  color: white;
  transition: all 0.5s ease;
}

.navbar-brand img {
  max-height: 50px;
  transition: all 0.5s ease;
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.1rem;
  color: white;
}

/*NEW MARGINS*/
.mt-6 {
  margin-top: 10rem !important;
}

/*TEXT SETTINGS*/
h1 {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5rem;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 25px;
}

h5 {
  font-size: 1rem;
  margin: 5px;
}

h6 {
  color: white;
  font-family: "Poppins", sans-serif;
}

p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

li {
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  color: #0f1014;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

label {
  color: white;
  font-family: "Poppins", sans-serif;
}

.fWeight-1 {
  font-weight: 500;
}

.desText {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*BACKGROUND IMAGES*/
.side-image {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: -1;
  filter: brightness(40%) contrast(90%);
}

.left-image {
  margin-left: 0px;
  left: 0;
}

.right-image {
  margin-right: 0px;
  right: 0;
}

@media (max-width: 920px) {
  .side-image {
    display: none;
  }
}
/*DEMO REEL*/
.videoSection {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoSection .videoWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.videoSection .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*RESUME PAGE*/
.aboutImg {
  width: 85%;
  border-radius: 200px 200px 200px 200px;
}

/*THE ANIMVIEWPOINT*/
.card {
  background-color: #c1d3df;
  margin: 30px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 14px 6px rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
}
.card .card-body {
  overflow: hidden;
}
.card .card-img-top {
  object-fit: cover;
  height: 100%;
}

/*CONTACT PAGE*/
.center-form {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.subButton {
  color: white;
  background-color: #112a43;
  border-color: #112a43;
}

.subButton:hover {
  color: #fff;
  background-color: #1e4e7e;
  border-color: #1e4e7e;
}

.resButton {
  color: white;
  background-color: #1C252A;
  border-color: #1C252A;
}

.resButton:hover {
  color: #fff;
  background-color: #3b4e58;
  border-color: #3b4e58;
}

/*FOOTER*/
footer {
  background-color: #1C252A;
  padding: 20px 0;
}

footer section {
  text-align: center;
}

footer h3 {
  margin-bottom: 10px;
}

footer a {
  margin: 0 10px;
}

footer p {
  margin-bottom: 10px;
}

footer iframe {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  display: block;
}

.fa-linkedin,
.fa-instagram {
  color: white;
  font-size: 2rem;
  transition: all 0.5s ease;
}

/*# sourceMappingURL=style_new.css.map */
