
/*NAVBAR*/
.nav-link:hover {
    color: white !important;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.navbar-brand img:hover{
    scale: (1.1);
    transition: all 0.2s ease;
}

/*THE ANIMVIEWPOINT*/
.card:hover{
    scale: (1.02);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 20px 12px rgba(255, 255, 255, 0.7);
}

a:hover{
    color: rgb(40, 40, 40);
}

/*FOOTER*/
.footerHover:hover {
        color: rgb(255, 255, 255);
        scale: (1.05);
        transition: transform 0.3s ease;
        animation: jump 0.5s infinite alternate;
    }

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

