/*Color de fuentes*/
$colorFuente1: white;
$colorFuente2: black;

/*Fuentes*/
$titleFont: 'Bebas Neue', sans-serif;
$bodyFont: 'Poppins', sans-serif;

/*Backgorund Color*/
$bgColor: (
    bgNav: #081420,
    bgMain: #0f1014,
    bgFooter: #1C252A,
    bgCard: #c1d3df,
);